opencv/data/*
lsd_slam/room/*
speech-synthesis/mimic/mimic-development/*
speech-recognition/sphinx/sphinxbase-5prealpha/*
/speech-recognition/sphinx/pocketsphinx-5prealpha/*
ros/master_rpi/build/*
ros/master_rpi/devel/*
ros/slave_pc/build/*
ros/slave_pc/devel/*
ros/master_rpi/cmake_install.cmake
ros/slave_pc/cmake_install.cmake
ros/slave_pc/install/*
ros/master_rpi/install/*
